body {
  background:-webkit-linear-gradient(120deg, #201f1f 0%, #1D5D9B 100%);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p {
  text-align: justify;
  color: rgb(221, 230, 143);
}

.titleHeader,.assignment {
  padding-top: 3%;
  padding-bottom: 0%;
  text-align: center;
  background: -webkit-linear-gradient(0deg, #000000 0%, #f4d160 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.headerImages {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: auto;
  width: 640px;
}